/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
}
.visually-hidden {
  position: absolute;
  width: 1px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
}

.photo-card {
  width: 220px;
  height: 200px;
  border: 1px solid #808080;
}

.info {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  width: 220px;
}

.big-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.input-search {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 0;
  padding-left: 16px;
  outline: none;
}

.button-search {
  border-radius: 8px;
  width: 91px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #4e75ff;
  border: none;
}

.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  padding-top: 36px;
}

.input-search:hover,
.input-search:focus {
  border: 1px solid #4e75ff;
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.loader {
  width: 80px;
  height: 80px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: white;
}

.loader-hidden {
  display: none;
}
